/* RESET BASICO */
/* * {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;
} */

 #select-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin: 10px;
}

.pet-label {
    background-color: gray;
    padding: 10px;
    color: white;
    width: 100px;
    height: 100px;
}