
/* RESET BASICO */
* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
}

h1,
h2,
p,
section {
    text-align: center;
    padding: 5px;
}

.button__attack,
.button__select,
.button__reset{
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: rgb(130, 130, 130);
    color: white;

    margin: 10px;
}

.button__attack:hover,
.button__select:hover,
.button__reset:hover {
    background: rgb(227, 223, 223);
    color: black;
}

span {
    font-weight: 1000;
}

#select-pet {
    text-align: center;
}

.pet__label {
    width: 200px;
    display: grid;
    border: 2px solid black;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 10px auto;
}